body{
	font-family: arial, sans-serif;
	margin:0;
	height: 100%;
}
a{
	text-decoration: none;
	color: rgb(70, 70, 70);
  	font-family: Arial, sans-serif;
 	font-size: 13px;
 	padding-right: 5px;
}
a:hover{
	text-decoration: underline;
}


.Navbar{
	height: 60px;
	width: 100%;
	position:relative;
	min-width: 220px;
}

.Navbar ul{
	list-style-type: none;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	text-align: right;
	vertical-align: middle;
	padding-top: 15px;
	padding-right: 30px;
	line-height: 24px;
}
.Navbar ul li{
	display: inline-block;
	padding-left: 5px;


}
.Navbar ul li img{
	vertical-align: middle;
	filter: opacity(50%);
}
.Navbar ul li img:hover {filter: none;}
.Navbar ul li input{
	border: 0px solid #4285f4;
	font-weight: bold;
	background: #4285f4;
	display: inline-block;
	padding: 0 12px;
	color: #fff;
	line-height: 28px;
	border-radius: 2px;

}

.logo{
	padding-top: 109px;
	height: 92px;
	width: 272px;
	margin: 0 auto;
	display: block;
}
.searchbar {
	text-align: center;
	display: block;
	margin-top: 15px;

}
.searchbar input:hover {
	border: 1px solid #a2a1a1 ;
} 
.searchbar input:focus{
	border: 1px solid #4d90fe;
	outline:0;
}

.searchbar input{
	width:600px;
	height:36px;
	border: 1px solid #c7c7c7;
	font: 16px arial ,sans-serif;
	background-image: url(voice.png);
	background-repeat:no-repeat;
	background-size: 24px 24px;
	background-position: 99% 50%;
	
}


.buttons{
	padding-top: 18px;
	text-align: center;
}
.buttons input{
	height: 36px;
	background-color: #f2f2f2;
	border-radius: 2px;
	color: #757575;
	margin: 11px 4px;
	border: 1px solid #f2f2f2 ;
	font-weight: bold;
	padding: 0px 16px;
	text-align: center;
}

.buttons input:hover{
	color: #000000;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.2);
}
.buttons input:focus{
	border: 1px solid #4d90fe;
	outline:0;
}
.Footer {
	line-height: 20px;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	width: 100%;
	position:absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding-bottom: 10px;
}
.Footer ul{
	list-style-type: none;
	margin-left: -27px;
}
.Footer-left{
	float: left;

}
.Footer-left li{
	display: inline-block;
	color: #666;
	padding-left: 20px;
	margin: 0px;
	font-family: Arial, sans-serif;
}
.Footer-right{
	float: right;
	margin-right: 30px;
}
.Footer-right li{
	display: inline-block;
	color: #666;
	padding-left: 20px;
	margin: 0px;
	font-family: Arial, sans-serif;
}